
Flipper/obj/Release/net7.0/Flipper.csproj.AssemblyReference.cache
.idea/.idea.Flipper/.idea/vcs.xml
Flipper/Migrations/20231211183713_..cs
Flipper/Migrations/20231211183713_..Designer.cs
Flipper/Migrations/FlipperContextModelSnapshot.cs
Flipper/obj/Flipper.csproj.nuget.dgspec.json
Flipper/obj/Flipper.csproj.nuget.g.props
Flipper/obj/project.assets.json
Flipper/obj/project.nuget.cache
Flipper/obj/project.packagespec.json
Flipper/obj/Release/net7.0/Flipper.assets.cache
Flipper/obj/Release/net7.0/Flipper.csproj.AssemblyReference.cache
Flipper/obj/rider.project.model.nuget.info
Flipper/obj/rider.project.restore.info
Flipper/wwwroot/assets/index-Fkoav8ub.js
Flipper/wwwroot/assets/index-VhuhJi74.css
Flipper/wwwroot/vite.svg
Flipper/obj/Flipper.csproj.nuget.dgspec.json
Flipper/obj/Flipper.csproj.nuget.g.props
Flipper/obj/project.assets.json
Flipper/obj/project.nuget.cache
Flipper/obj/project.packagespec.json
Flipper/obj/Release/net7.0/Flipper.assets.cache
Flipper/obj/Release/net7.0/Flipper.csproj.AssemblyReference.cache
Flipper/obj/rider.project.restore.info
